* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: normal;
}
a {
    text-decoration: none;
}
.wrapper {
    max-width: 1635px;
    margin: 0 auto;
}
del {
    text-decoration: line-through;
}
#black {
    text-align: center;
    background: #000;
    color: #fff;
    padding: 3px;
}
#black h1 {
    font-size: 14px;
    font-weight: 400;
    padding: 3px 0px;
    word-spacing: 2px;
    font-family:"Satoshi-Variable",Arial, Helvetica, sans-serif;
    font-weight: 300;
}
#black h1 a {
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid white;
    margin-left: 4px;
    font-size: 14px;
}
#black h1 img {
    padding-left: 1200px;
}
header div.left {
    font-family: "Satoshi-Variable",Arial, Helvetica, sans-serif;
    font-size: normal;
    color: azure;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;

}
header div.left ul {
    display: flex;
    align-items: center;
} 
header div.left a {
    color: #000;
    padding-right: 70px;
    display: flex;
    align-items: center;
} 
header div.left form {
    background: #f0f0f0;
    padding: 15px 450px 15px 30px;
    border-radius: 25px;
    display: flex;
    margin-left: 20px;
}
header div.left form img {
    padding-right: 10px;
}
header div.left form input {
    border: #f0f0f0;
    background-color: #f0f0f0;
    font-size: 17px;
}
header div.left ul li.img {
    padding-left: 50px;
    padding-right: 25px;
}
#spotlight {
    background: #f2f0f1;
    padding-top: 100px;
    background-position: right;
    padding-bottom: 120px;
    background-image: url(image/bg-image.png);
    background-position: 1178px -44px;
    background-repeat: no-repeat;
    background-size:35%;
    
}
#spotlight .wrapper {
    
}
#spotlight div.find {
    display: flex;
    position: relative;
}
#spotlight div.find img {
    width: 104px;
    height: 104px;
    position: absolute;
    left: 1593px;
}
#spotlight h1 {
    font-size: 64px; 
    font-weight: 700;
    font-family: 'FONTSPRING DEMO - Integral CF';
    line-height: 64px;

}
#spotlight p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    margin-bottom: 10px;

}
#spotlight button{
    border-radius: 62px;
    height: 52px;
    width: 210px;
    top: 507px;
    left: 100px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 54px;
    padding-left: 54px;
    color: #ffffff;
    background-color: #000000;
    margin-top: 20px;
    margin-bottom: 50px;
    border: none;
} 
#spotlight div.shop {
    width: 596px;
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 74px;
    
}
#spotlight div.shop ul.brand {
    display: flex;
}
#spotlight div.shop ul.brand h2{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Satoshi-Variable',Arial, Helvetica, sans-serif;
}
#spotlight div.shop ul.brand p{
    font-size: 16px;
    width: 176px;
    color: rgba(0,0,0,0.5);
    font-family: 'Satoshi-Variable',Arial, Helvetica, sans-serif;
    
}

#spotlight div.shop ul.brand li {
    padding-left:33px;
    border-right: 1px solid rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#spotlight div.shop ul.brand li:last-child {
    border-right:none;
}
#spotlight div.shop ul.brand li:first-child {
    padding-left: 0px;
}

#spotlight div.star {
    display: flex;
    align-items:first baseline ;
    gap:130px;
}
#spotlight div.word ul {
    display: flex;
    gap: 150px;
    align-items: center;
    height: 80px;
    background:#000000;
    padding: 18px 18px 18px 105px;
    text-decoration: none;
    margin-top: 80px;
}
#two{
    margin-top: 62px;
    font-size: 40px;
    font-weight: 650;
}
#two div.copy{
    margin-bottom: 60px;
    font-family:'FONTSPRING DEMO - Integral CF',Arial, Helvetica, sans-serif;
    text-align: center;
}
#two div.arrivals ul {
    display: flex;
    justify-content: space-between;
    font-family:'Satoshi-Variable',Arial, Helvetica, sans-serif;
}
#two div.arrivals ul li div.image{
    width: 380px;
}
#two div.arrivals ul li div.image img {
    width: 100%;
    border-radius: 20px;
}
#two div.arrivals ul li:nth-child(2) div.image img{
    height: 384px;
}
#two div.arrivals ul li h4 {
    font-size: 20px;
}
#two div.arrivals ul li small b {
    opacity: .6;
}
#two div.arrivals ul li del{
    opacity: .6;
    font-size: 32px;
}
#two div.arrivals ul li small{
    font-size: 17px;
    font-weight: 400;
}
#two div.arrivals ul li h3{
    font-size: 32px;
}
#two div.arrivals ul li div.pink{
    font-size: 14px;
    font-weight: 400;
    color: red;
    background: rgb(255, 219, 224);
    border-radius: 20px;
    width: 53px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#two div.arrivals ul li div.price {
    display: flex;
    align-items: center;
    gap: 20px;
}
#two form {
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
    font-weight: 300px;
    border-bottom: 1px solid #e0e0e0;
}
#two form button {
    padding: 20px 100px;
    border-radius: 62px;
    border-color: #cecece;
    border: none;
    margin-bottom: 80px;
    
}
#selling {  
    margin-top: 62px;
    font-size: 40px;
    font-weight: 650;
}
#selling div.sell{
    margin-bottom: 30px;
    font-family:'FONTSPRING DEMO - Integral CF',Arial, Helvetica, sans-serif;
    text-align: center;
}
#selling div.sell ul {
    display: flex;
    justify-content: space-between;
    font-family:'Satoshi-Variable',Arial, Helvetica, sans-serif;
}
#selling div.sell h1{
    margin-bottom: 60px;
}
#selling div.sell ul li{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
#selling div.sell ul li div.image {
    width: 380px;
}
#selling div.sell ul li div.image img{
    width: 100%;
    border-radius: 20px;
}
#selling div.sell ul li h4 {
    font-size: 20px;
}
#selling div.sell ul li small b {
    opacity: .6;
}
#selling div.sell ul li del{
    opacity: .6;
    font-size: 32px;
}
#selling div.sell ul li small{
    font-size: 17px;
    font-weight: 400;
}
#selling div.sell ul li h3{
    font-size: 32px;
}
#selling div.sell ul li div.green{
    font-size: 14px;
    font-weight: 400;
    color: #ff0000;
    background: rgb(255, 219, 224);
    border-radius: 20px;
    width: 53px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#selling div.sell ul li div.price{
    display: flex;
    align-items: center;
    gap: 20px;
}
#selling form {
    margin-top: 50px;
    margin-bottom: 90px;
    text-align: center;
    font-weight: 300px;
}
#selling form button {
    padding: 20px 100px;
    border-radius: 62px;
    border-color: #cecece;
    border: none;
}
#browse {

}
#browse div.categories img{
    width: 100%;
}
#happy div h1{
    font-size: 65px;
    font-weight: 700;
    font-family: 'FONTSPRING DEMO - Integral CF Extra';
    margin-top: 70px;
}
#happy div.our span.left img{
    width: 20px;
    
}
#happy div.our span.left{
    display: flex;
    gap: 20px;
}
#happy div.our{
    display: flex;
    align-items:baseline;
    justify-content: space-between;
}

#happy div.all {
    display: flex;
    justify-content: space-between;
}
#happy div.one{
    margin-top: 62px;
    border-radius: 30px;
    border: 1px solid #d4d1d1;
    width: 525px;
    height: 300px;
}
#happy div.one img{
    margin-top: 30px;
    width: 200px;
    border-radius: 20px;
    padding-left: 35px;
   
}
#happy div.one h4{
    font-size: 30px;
    font-weight: 900;
    font-display: swap;
    font-style: normal;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Satoshi-Black', Arial, Helvetica, sans-serif;
    padding-left: 35px;
    
}
#happy div.one p{
    font-size: 20px;
    font-weight: 300;
    color: #575454;
    margin-top: 30px;
    padding-left: 35px;
    font-family: 'Satoshi-Variable';
}

span.tick {
    background: green;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius:10px;
    background-image: url(image/icons8-tick-48.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 66%;

}
#stay div.about {
    background-color: #000;
    padding: 18px 18px 18px 100px;
    border-radius: 20px;
    height: 150px;
    margin-top: 90px;
    display: flex;
    align-items: center;
    gap: 550px;
    margin-bottom: 50px;
}
#stay div.about h3{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    font-family: 'FONTSPRING DEMO - Integral CF';
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
#stay div.about form input.mail {
    border: #f0f0f0;
    background-color: #f0f0f0;
    font-size: 17px;
    height: 53px;
    width: 312px;
    border-radius: 62px;
    padding-left: 70px;
    background-image: url(image/mail.png);
    background-position: 30px center;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}
#stay div.about input.submit {
    padding: 20px 100px;
    border-radius: 62px;
    border-color: #cecece;
    border: none;
    height: 54px;
    font-size: 17px;
}
footer div.left {
   justify-content: space-between;
   gap: 30px;
   margin-bottom: 20px;
}
footer div.left {
    font-family:  'Satoshi-Variable';
    font-weight: 500;
    font-size©: 16px;
}
footer div.left p{
    color: #222222;
    gap: 2px;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Satoshi-Variable';
    margin-top: 25px;
    margin-bottom:35px;
}
footer div.icon{
    display: flex;
    gap: 20px;
  
}
footer div.twitter img {
    width: 50%;
    border: 1.5px solid #a0a0a0;
    border-radius: 50px;
    padding: 11px 10px 11px 13px;
    height: 32px;
}
footer div.facebook img {
    width: 105%;
    height: 55px;  
}
footer div.insta img {
    width: 52%;
    border: 1.5px solid #a0a0a0;
    border-radius: 50px;
    padding: 11px 12px 11px 12px;
    height: 32px;
}
footer div.github img {
    width: 52%;
    border: 1.5px solid #a0a0a0;
    border-radius: 50px;
    padding: 11px 12px 11px 12px;
    height: 32px;
}
footer div.top{
    display: flex;
    gap: 193px;
    margin-bottom: 3px;
    border-bottom: 1px solid #e9e9e9;
} 
footer ul h2{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Satoshi-Variable';
    color: #030303;
    margin-bottom: 30px;
}
footer ul li a{
    color: #3b3b3b;
    text-decoration: none;
    font-family: 'Satoshi-Variable';
    font-size: 18px;
    margin-bottom: 20px;
}
footer div.bottom{
    display: flex;
    gap: 193px;
    margin-top: 20px;
    justify-content: space-between;
}

@font-face {
    font-family: 'Satoshi-Variable';
    src: url('fonts/Satoshi-Variable.woff2') format('woff2'),
         url('fonts/Satoshi-Variable.woff') format('woff'),
         url('fonts/Satoshi-Variable.ttf') format('truetype');
         font-weight: 300 900;
         font-display: swap;
         font-style: normal;
  }

  
  @font-face {
    font-family: 'Satoshi-VariableItalic';
    src: url('fonts/Satoshi-VariableItalic.woff2') format('woff2'),
         url('fonts/Satoshi-VariableItalic.woff') format('woff'),
         url('fonts/Satoshi-VariableItalic.ttf') format('truetype');
         font-weight: 300 900;
         font-display: swap;
         font-style: italic;
  } 
  @font-face {
    font-family: 'Satoshi-Light';
    src: url('fonts/Satoshi-Light.woff2') format('woff2'),
         url('fonts/Satoshi-Light.woff') format('woff'),
         url('fonts/Satoshi-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-LightItalic';
    src: url('fonts/Satoshi-LightItalic.woff2') format('woff2'),
         url('fonts/Satoshi-LightItalic.woff') format('woff'),
         url('fonts/Satoshi-LightItalic.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Regular';
    src: url('fonts/Satoshi-Regular.woff2') format('woff2'),
         url('fonts/Satoshi-Regular.woff') format('woff'),
         url('fonts/Satoshi-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Italic';
    src: url('fonts/Satoshi-Italic.woff2') format('woff2'),
         url('fonts/Satoshi-Italic.woff') format('woff'),
         url('fonts/Satoshi-Italic.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: italic;
  }
  
  
@font-face {
    font-family: 'Satoshi-Medium';
    src: url('fonts/Satoshi-Medium.woff2') format('woff2'),
         url('fonts/Satoshi-Medium.woff') format('woff'),
         url('fonts/Satoshi-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
}
  
  
@font-face {
    font-family: 'Satoshi-MediumItalic';
    src: url('fonts/Satoshi-MediumItalic.woff2') format('woff2'),
         url('fonts/Satoshi-MediumItalic.woff') format('woff'),
         url('fonts/Satoshi-MediumItalic.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: italic;
}
  
  
@font-face {
    font-family: 'Satoshi-Bold';
    src: url('fonts/Satoshi-Bold.woff2') format('woff2'),
         url('fonts/Satoshi-Bold.woff') format('woff'),
         url('fonts/Satoshi-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
}
  
  
@font-face {
    font-family: 'Satoshi-BoldItalic';
    src: url('fonts/Satoshi-BoldItalic.woff2') format('woff2'),
         url('fonts/Satoshi-BoldItalic.woff') format('woff'),
         url('fonts/Satoshi-BoldItalic.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: italic;
}
  
  
@font-face {
    font-family: 'Satoshi-Black';
    src: url('fonts/Satoshi-Black.woff2') format('woff2'),
         url('fonts/Satoshi-Black.woff') format('woff'),
         url('fonts/Satoshi-Black.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
}
  
  
@font-face {
    font-family: 'Satoshi-BlackItalic';
    src: url('fonts/Satoshi-BlackItalic.woff2') format('woff2'),
         url('fonts/Satoshi-BlackItalic.woff') format('woff'),
         url('fonts/Satoshi-BlackItalic.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: italic;
}
/* integral */

@font-face {
    font-family: 'FONTSPRING DEMO - Integral CF';
    src: url('fonts/FONTSPRINGDEMO-IntegralCFRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-IntegralCFRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Integral CF';
    src: url('fonts/FONTSPRINGDEMO-IntegralCFItalic.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-IntegralCFItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Integral CF';
    src: url('fonts/FONTSPRINGDEMO-IntegralCFMediumItalic.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-IntegralCFMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Integral CF';
    src: url('fonts/FONTSPRINGDEMO-IntegralCFMediumRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-IntegralCFMediumRegular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Integral CF Extra';
    src: url('fonts/FONTSPRINGDEMO-IntegralCFExtraBoldRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-IntegralCFExtraBoldRegular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Integral CF Demi';
    src: url('fonts/FONTSPRINGDEMO-IntegralCFDemiBoldItalic.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-IntegralCFDemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Integral CF';
    src: url('fonts/FONTSPRINGDEMO-IntegralCFHeavyRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-IntegralCFHeavyRegular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Integral CF Extra';
    src: url('fonts/FONTSPRINGDEMO-IntegralCFExtraBoldItalic.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-IntegralCFExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Integral CF';
    src: url('fonts/FONTSPRINGDEMO-IntegralCFBoldRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-IntegralCFBoldRegular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Integral CF';
    src: url('fonts/FONTSPRINGDEMO-IntegralCFHeavyItalic.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-IntegralCFHeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Integral CF';
    src: url('fonts/FONTSPRINGDEMO-IntegralCFBoldItalic.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-IntegralCFBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Integral CF Demi';
    src: url('fonts/FONTSPRINGDEMO-IntegralCFDemiBoldRegular.woff2') format('woff2'),
        url('fonts/FONTSPRINGDEMO-IntegralCFDemiBoldRegular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}






















